* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    margin: auto;
    color: white;
}

#app-body,
#app-html {
    height: 100%;
    width: 100%;
    background-color: #21235c;
}

a {
    text-decoration: none;
    color: white;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #21235c;
}

#welcome {
    font-size: 3em;
}

#enter {
    width: 200px;
    height: 50px;
    font-size: 2em;
    border-style: none;
    color: #21235c;
    background-color: transparent;
    border: 2px solid #cc6633;
}

#enter:hover {
    background-color: #cc6633;
    transition: 0.5s;
}

#logo {
    height: 25em;
}

#flex-container-main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav {
    height: 6em;
    background-color: #212121;
    display: flex;
    align-items: center;
    align-content: center;
}

nav a {
    margin: 20px;
    font-size: 1.5em;
    color: #cc6633;
}


#nav-logo {
    max-height: 100%;
}

#app-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#board {
    display: flex;
    flex-direction: column
}

.swimlanes{
    width: auto;
    background-color: #212121;
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.card-list {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.card {
    color: #cc6633;
    height: 10em;
    width: 20em;
    min-width: 5em;
    padding: 1.5rem;
    border-radius: 16px;
    background: white;
    box-shadow: -2.5rem 0 2rem black;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    transition: .2s;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:hover {
    scale: 1.07;
    color: white;
    background: #009FFF;
    background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF); 
    background: linear-gradient(to left, #ec2F4B, #009FFF);
}

.svg-circleplus { height: 40px; stroke: white; }

.vertbtn{
    border: none;
    transition: 0.2s;
    background-color: #212121;
}

.vertbtn:hover{
    scale: 105%;
    background-color: #cc6633;
}

.delete-btn{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #525252;
    border-radius: 500px;
}

.delete-btn:hover{
    background-color: #cc6633;
    scale: 105%;
}